.friends-list {
  width: 20%;
  height: calc(100vh - 120px);
  padding-left: 10px;
  font-size: 14px;
  background: #181818;
  border: 1px solid #000;

  .style-btn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
  }

  span{
    margin-right: 10px;
  }

  li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    color: #aaaaaa;

    &:hover {
      color: #fff;

      a{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}