.page-flow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  margin-right: 5px;
}


@media screen and (max-width: 900px) {
  .page-flow{
    width: 45px;

    .material-icons-round{
      margin-right: 0;
    }
  }
}