.current-track{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;

  a {
    display: block;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  img {
    max-width: 50px;
    max-height: 50px;
  }

  span {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .current-track {
    justify-content: space-between;
    border-top: 1px solid #000;
  }

  .current-track__about {
    width: 85%;
    margin-left: 5px;
  }
}