.search {
  width: 180px;
  padding-left: 30px;
  border-radius: 15px;
  border: none;
  background: #fff;
  color: #181818;
  outline: none;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}

@media screen and (max-width: 900px) {
  .search {
    width: 140px;
    height: 20px;
    padding: 3px 5px 3px 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  .search {
    width: 240px;
  }
}