.control-track {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;

  &__play {
    font-size: 48px;
  }

  button {
    background: 0;
    border: 0;
    color: #c8c8c8;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 900px) {
  .control-track__play {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .control-track {
    width: 35%;
  }

  .control-track button {
    font-size: 48px;
  }
}

@media screen and (max-width: 575px) {
  .control-track button {
    font-size: 36px;
  }
}