.options-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  font-size: 14px;

  a {
    margin-right: 15px;
  }

  .material-icons-round {
    font-size: 14px;
  }

  &__devaices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;

    p {
      margin-right: 5px;
    }

    &:hover {
      color: #fff;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;

    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 900px) {
  .material-icons-round {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .options-track {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .options-track {
    width: 90%;
  }
}